################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/RPGSystem/RPGSystem_API/bin
/RPGSystem/RPGSystem_API/obj
/RPGSystem/.vs/
